<h1>Search!</h1>
<!--
<form action="/users/search" method="GET">
  <input
    type="text"
    name="query"
    value="<%= @query %>">

  <input type="submit" value="Search Users!">
</form>-->

<nav class="users-search">
  <form class="" action="index.html" method="post">
    <label>Search for User:
      <input type="text" name="user[username]" value="">
    </label>
    <input type="submit" name="name" value="Search">
  </form>
  
  <ul>
  </ul>
</nav>
